body{
  background-color: #000;

}
#backdrop{
  background-color: #0de5c8f7;
}
.img{
max-width: 50%;
max-height: 100%;
display: block; /* remove extra space below image */
background-color: #000;


}
.bg-dark{
  background-color: #ffffff;

}
