{% extends 'geekapp/base.html' %}


{% block content  %}
<style media="screen">
  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}
</style>
<div class="container">
  <br>
 <div class="card" id="backdrop">
   <div class="card-body">
     <div class="row">
       {% for movie in movies %}
       <div class="col-md-4">
         <br>
         <div class="card">
           <div class="card-body">
             <img class="center"src="{{movie.image}}" alt="" class="img">
             <h3 class="text-center">{{movie.name}}</h3>
             <div class="text-center">
               <i>Release Date: {{movie.date}}</i>
             </div>
             <a href="{% url 'geekapp:detail' movie.id %}">view more</a>
           </div>
         </div>
       </div>
       {% endfor %}
     </div>
   </div>
 </div>

</div>



{% endblock %}
